@font-face{
    font-family : "ALLER";
    src : url('../fonts/ALLER.TTF'),url('../fonts/ALLER.eot');
}


@font-face{
    font-family : "ALLER_LT";
    src : url('../fonts/ALLER_LT.TTF'), url('../fonts/ALLER_LT.eot');
}

@font-face{
    font-family : "ALLER_RG";
    src : url('../fonts/ALLER_RG.TTF'), url('../fonts/ALLER_RG.eot');
}

@font-face{
    font-family : "ALLER_BDIT";
    src : url('../fonts/ALLER_BDIT.TTF');
}

@font-face{
    font-family : "ALLER_IT";
    src : url('../fonts/ALLER_IT.TTF');
}


@charset "UTF-8";

html, body {
    font-family : "ALLER_LT";
    color:#ffffff;
    margin:0;
    padding:0;
    display: block;
    background: url(../img/backgroundExpertComptable-responsiveW1400.png) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }


.container{
  margin: auto;
  width: 95%;
}

.container h3{
  margin-bottom: 0;
}

header ul{
    display: block;
    padding-left: 0em;
    overflow:auto;
    
}

  header li {
    float:left;
    width:20%;
    margin-top: 0.5em;
    margin-right: 0.5em;
    list-style-type:none;
    margin:0;

  }

header li p{
    display: inline-block;
    margin:0;
    padding:0;
} 


  header button{
  font-family : "ALLER";
  background-color:#81a640;
  color: #ffffff;
  font-size:150%;
  margin-top:0.5em; 
  float: right;
  display: block;
  overflow: auto;
 }


 section.wrapper-title{
    background-color: #ffffff;
    margin:0;
    padding:0.05em 0 0;
    text-align:center;

}

.wrapper-center{
  display: block;
}

.wrapper-center article{
  display: inline-block;
  z-index:3;
  float: left;
}

.wrapper-center, h2{
  font-family : "ALLER_LT";
  margin:0;
}

.wrapper-center strong{
  font-family : "ALLER_RG";
}


ul.advice{
  font-size: 1.5em;    
  padding-left: 0;
  list-style-type:none;
  margin-top: 0;
  display: inline;
  vertical-align: middle;
}

.advice  li > p{
  padding-left: 0.4em;
  vertical-align: middle;
  display: inline-block;
  margin:0.5em 0 0.5em;
}

ul.advice > li > img{
  vertical-align: middle;
}


section.personnage{ 
    position: absolute;
    right: 530px;
    top: 124px;
    width: 278px;
}

div#step-1{
  display: inline-block; 
  font-size: 0.6em;
  z-index: 2;
}

div#step-2{
  display: inline-block; 
  margin-left: 35em;
  font-size: 0.8em;
  z-index: 2;
}

div#step-3{
  display: inline-block; 
  margin-left: 35em;
  margin-bottom: 35em;
  font-size: 0.8em;
  z-index: 2;
}


div#step-1 h2{
  font-size: 2.5em; 
  color:#afda63;
  text-align: center; 
}

div#step-2 h2,div#step-3 h2{
  font-size: 2em; 
  color:#afda63;
  text-align: center; 
}

#step-3 form select option{
  width: 20em;
  font-family : "ALLER";
  line-height: 1em;
  font-size:1.5em;

}

fieldset{
  border: 0.1em solid #73b324;
  padding:0.5em;
}

#step-1 form{
  border: 0.4em solid #73b324;
  outline: 0.3em solid #427915;
  background-color: #ffffff;
  padding: 2em 3.5em;
  color: #7e7e7e;
}

form {
    width: 540px;
    height: 377px;
}

#step-2 form, #step-3 form{
  border: 0.4em solid #73b324;
  outline: 0.3em solid #427915;
  background-color: #ffffff;
  font-size: 100%;
  padding: 1em 2.5em;
  color: #7e7e7e;
  text-align: center;
}

#step-2 form p,#step-3 form p{
  margin: 0.3em;
}

form input.send_button,
form button {
      background-color: #00afb2;
      text-align: center;
      color: #ffffff;
      font-family : "ALLER";
      vertical-align: middle;
      font-size: 1.2em;
      padding: 0.5em;
      margin: 30px auto auto;
    display: block;
  }

div#step-2,div#step-3{
  display: none;
}


#step-1  .form-group {
    margin-top: 20px;
}

#step-1 .form-group> input + label {
    width:90px;
}


.form-group label {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.5em;
    font-size: 1.2em;
    width: 9em;
}

.form-group-2 label {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.5em;
    font-size: 1em;
    width: 9em;
    text-align: left;
}

.form-group > img {
    vertical-align: middle;
}

input[placeholder]{
  color: #73b324;
  text-align: center;
  font-family : "ALLER_RG";
  font-size: 80%;
}

form input{
  display:inline-block;
  width: 20em;
}     

.achat, .vente, .salaries {
  width: 5em;
  height: 1.5em;
}

.coordonnees{
  width: 25em;
  height: 1.5em;
}

div.civilites{
  display: inline-block;
  width: 20em;
}

div.civilites p{
  display: inline-block;
  width: 3em;
  padding: 0 0.5em 0;
  margin: 0;
}

.resultat-calcul{
  font-family : "ALLER";
  color: #00afb2;
  text-align: center;
  display: block;
  font-size: 120%;
}

h3.partenaires {
  color: #00A1A4;
  display: block;
  font-family : "ALLER_LT";
  vertical-align: left;
  text-align: center;
  margin:auto ;
  font-size: 1.2em;
  width: 9em;

}

h3.partenaires > strong{
  font-family : "ALLER";
  font-size: 1.5em;

}

#bloc_notif  {
    width: 30%;
    margin: auto;
}



/****slider responsive begin****/

a {
  color: #222;
  }

.rslides{
  margin: 0 auto;
  width: 95%;
  display: inline-block;
  }

.rslides_container {
  
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  background-color: #ffffff;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../img/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../img/themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

#step-1 .content-form {
    display: block;
    font-size: 19px;
    margin: auto;
    position: relative;
    top: 33px;
    width: 83%;
}

.bloc-simulateur {
    position: relative;
    display: inline-block;
    margin-left: 150px;
    margin-bottom: 40px;
}

.bloc-partenaires {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 39%;
}

#slider3 {
    display: inline-block;    
    width: 59%;
}
